html {
    background-color: #FAF9F9;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
    
}

body {
    margin: 0;
    color: #555B6E;
}

section {
 min-height: 100vh;
 font-family: 'Poppins';
 display: flex;
 justify-content: center;
 align-items: center;
}

section:nth-child(1) {
    background-color: #F5F0ED;
    flex-direction: column;
    text-align: center;
}

section:nth-child(1) svg {
    margin-top: 100px;
    width: 40px;
    height: 40px;
    fill: #555B6E;
    transition: opacity 0.2s ease 0s;


}

section:nth-child(1) svg:hover {
    opacity: 0.7;

}


.cards {
    display: flex;
    flex-direction: row;
}

#socialButtons {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
}

.fa {
    
    padding: 5px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;

    margin: 10px;
    display: inline;
    float: left;

}

.fa:hover {
    opacity: 0.7;
}

.fa-github {
    background: #171515;
    color: white;;
}

.fa-twitter {
    background: #1DA1F2;
    color: white;;
}

.fa-envelope {
    background: #555b6e;
    color: white;;
}

section:nth-child(2) {
    flex-direction: column;
    background-color: #BEE3DB;
    position: relative;
}

section:nth-child(2) ul {

}



#projectButtons {
    list-style: none;
    margin: 0 auto;
}

#projectButtons li {
    display: inline-block;
    vertical-align: top;
}

.cards a {
    min-width: 200px;
    max-width: 200px;
    min-height: 150px;
    max-height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://dummyimage.com/200x150.png");
    display:block;
    position: relative;
}

.cards #website {
    background-image: url("websitescreenshot.png");
}

.cards p {
    margin: 0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 200px;
    height: 25px;
    background-color: rgba(33, 36, 43, 0.6);
    opacity: 0;
    transition: opacity 0.2s ease-in-out 0s;
    color: #F5F0ED;
}

.cards a:hover > p {
    opacity: 1;
}