.container {
    width: 100vw;
    height: 100svh;
    background-color: var(--ch-white);
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.container img {
    position: absolute;
    left: -450px;
    top: -100px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200rem;
}