/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&family=Rosarivo:ital@0;1&display=swap');
.rosarivo-regular {
  font-family: "Rosarivo", cursive;
  font-weight: 400;
  font-style: normal;
}
.rosarivo-regular-italic {
  font-family: "Rosarivo", cursive;
  font-weight: 400;
  font-style: italic;
}

.beiruti-regular {
  font-family: "Beiruti", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/*  */

#wallpaper {
  z-index: -100;
  position: absolute;
  background-color: #3e3e44;
  width: 100vw;
  height: 100vh;
  background-image: url("assets/IMG_1569.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.blur{
  height: 100%;
  width: 100%;
  backdrop-filter: blur(8px);
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7vh;
  color: #F5f5f7;
  background-color: #d7d2cb5b;
}

#content {
  color: #F5f5f7;
  height: 93vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}